### Helpers

In [ ]:
import sys
from spotipy.oauth2 import SpotifyClientCredentials
import spotipy
from Lyrics import credentials
import pandas as pd
import matplotlib as plt
import json

In [ ]:
#Using the spotify client to connect
id_ = credentials.spotify_client_id
secret = credentials.my_secret
ccm = SpotifyClientCredentials(client_id=id_, client_secret=secret)
sp = spotipy.Spotify(client_credentials_manager=ccm)

## .- Functions

In [ ]:
#Use the artist and track to find a song id
def get_track_id(artist_name,track_name):
    results = sp.search("artist: " + artist_name + ", track: " + track_name)
    return results['tracks']['items'][0]['uri']

In [ ]:
#Create a function to collect the tracks info for a given list of ids
def get_track_objects(track_ids):
    tracks_info = []
    for track_id_list in track_ids:
        info = sp.tracks(track_id_list)
        tracks_info.append(info)
    return tracks_info

In [ ]:
#Create a functin to collect the tracks features for a given list of ids
def get_track_features(track_ids):
    tracks_audio_features = []
    for track_id_list in track_ids:
        features = sp.audio_features(track_id_list)
        tracks_audio_features.append(features)
        name
    return tracks_audio_features

In [ ]:
# Create a function to save the information collected
def save_track_info(tracks_audio_features,tracks_info):

    track_spotify_data = {
        "audio_features": tracks_audio_features,
        "tracks": tracks_info
    }

    return track_spotify_data

In [ ]:
 #use to save as json
with open('placeholder.json', "w") as f:
    json.dump(result, f)

In [ ]:
#Codes to transform the dictionary with all the info into dataframe
df = pd.DataFrame(columns=[
    'name',
    'duration_ms',
    'popularity',
    'num_markets',
    'album',
    'disc_number',
    'is_explicit',
    'track_number',
    'release_date',
    'artist',
    'danceability',
    'energy',
    'key',
    'loudness',
    'mode',
    'speechiness',
    'acousticness',
    'instrumentalness',
    'liveness',
    'valence',
    'tempo',
    'time_signature',
])
for album_info, album_features in zip(
        spotify_data.get('tracks'), 
        spotify_data.get('audio_features')
        ):
    for track_info, track_features in zip(
        album_info.get('tracks'),
        album_features
        ):
        y = {
            'name': track_info['name'],
            'duration_ms': track_info['duration_ms'],
            'popularity': track_info['popularity'],
            'num_markets': len(track_info['available_markets']),
            'album': track_info['album']['name'],
            'disc_number': track_info['disc_number'],
            'is_explicit': track_info['explicit'],
            'track_number': track_info['track_number'],
            'release_date': track_info['album']['release_date'],
            'artist': track_info['artists'][0]['name'],
            'danceability': track_features['danceability'],
            'energy': track_features['energy'],
            'key': track_features['key'],
            'loudness': track_features['loudness'],
            'mode': track_features['mode'],
            'speechiness': track_features['speechiness'],
            'acousticness': track_features['acousticness'],
            'instrumentalness': track_features['instrumentalness'],
            'liveness': track_features['liveness'],
            'valence': track_features['valence'],
            'tempo': track_features['tempo'],
            'time_signature': track_features['time_signature'],
        }
        df = df.append(y, ignore_index=True)

## Testing

Inspired by http://jdaytn.com/posts/download-blink-182-data/

In [ ]:
#Create a function to get only the ID of an artist
def get_artist_id(artist_name):
    results = sp.search("artist:"+artist_name)
    artist_id = results['tracks']['items'][0]['artists'][0]['uri']
    return artist_id.strip('spotify:artist:')

In [ ]:
#testing above function
#spotify:artist:7dGJo4pcD2V6oG8kP0tJRR
eminem_id = get_artist_id('eminem')

In [ ]:
print(eminem_id)

In [ ]:
#Create a function to get all albums IDs related to one artist
def get_albums_id(artist_id, limit=50):
#     albums_ids = []
    albums = sp.artist_albums(artist_id,country="US", limit=limit)
    album_ids = [album['uri'].strip('spotify:album:') for album in albums['items']]
    return album_ids

In [ ]:
#testing above function #3HNnxK7NgLXbDoxRZxNWiR 1st value
eminem_album = get_albums_id(eminem_id)

In [ ]:
eminem_album

In [ ]:
albums = sp.artist_albums('7dGJo4pcD2V6oG8kP0tJRR',country="US", limit=50)
print(albums['next'])

In [ ]:
album_ids = [album['uri'] for album in albums['items']]
print(len(album_ids))
print(album_ids[0])

In [ ]:
all_tracks = []
for album_id in album_ids:
    tracks = sp.album_tracks(album_id, limit=50)
    all_tracks.append(tracks)

In [ ]:
all_tracks

In [ ]:
track_ids = []
for tracks in all_tracks:
    album_tracks = []
    for track in tracks.get('items'):
        album_tracks.append(track.get('uri'))
    track_ids.append(album_tracks)

In [ ]:
track_ids[0]

In [ ]:
len(track_ids)

In [ ]:
track_objects = []
for track_id_list in track_ids:
    tracks = sp.tracks(track_id_list)
    track_objects.append(tracks)

In [ ]:
len(track_objects)

In [ ]:
audio_feature_objects = []
for track_id_list in track_ids:
    features = sp.audio_features(track_id_list)
    audio_feature_objects.append(features)

In [ ]:
len(audio_feature_objects)

In [ ]:
for tracks, album in zip(all_tracks, albums.get('items')):
    print(
        len(tracks.get('items')),
        "\t",
        album.get('name')
    )

In [ ]:
# all_tracks[0].get('items')[0].get('uri')

In [ ]:
results

In [ ]:
results['tracks']['items'][0]['uri']

In [ ]:
results['tracks']['items'][0]['artists'][0]['uri']

In [ ]:
print(df.shape)
df.head(50)

In [ ]:
df.speechiness.hist()

## Testing Functions

In [ ]:
songs = [['Mobb Deep','Party Over'], ['eminem','the ringer']]

In [ ]:
test_ids = []
for song in songs:
        test_ids.append([get_track_id(song[0],song[1])])

In [ ]:
test_ids

In [ ]:
test_objects = []
for test_id_list in test_ids:
    tracks = sp.tracks(test_id_list)
    test_objects.append(tracks)

In [ ]:
len(test_objects)

In [ ]:
test_audio_feature_objects = []
for test_id_list in test_ids:
    features = sp.audio_features(test_id_list)
    test_audio_feature_objects.append(features)

In [ ]:
len(test_audio_feature_objects)

In [ ]:
test_spotify_data = {
    "audio_features": test_audio_feature_objects,
    "tracks": test_objects
}

In [ ]:
spotify_data=test_spotify_data

In [ ]:
spotify_data.get('track')[0].get('tracks')

In [ ]:
#Reformatting from a dictionary to a table
df = pd.DataFrame(columns=[
    'name',
    'duration_ms',
    'popularity',
    'num_markets',
    'album',
    'disc_number',
    'is_explicit',
    'track_number',
    'release_date',
    'artist',
    'danceability',
    'energy',
    'key',
    'loudness',
    'mode',
    'speechiness',
    'acousticness',
    'instrumentalness',
    'liveness',
    'valence',
    'tempo',
    'time_signature',
])
for album_info, album_features in zip(
        spotify_data.get('tracks'), 
        spotify_data.get('audio_features')
        ):
    for track_info, track_features in zip(
        album_info.get('tracks'),
        album_features
        ):
        y = {
            'name': track_info['name'],
            'duration_ms': track_info['duration_ms'],
            'popularity': track_info['popularity'],
            'num_markets': len(track_info['available_markets']),
            'album': track_info['album']['name'],
            'disc_number': track_info['disc_number'],
            'is_explicit': track_info['explicit'],
            'track_number': track_info['track_number'],
            'release_date': track_info['album']['release_date'],
            'artist': track_info['artists'][0]['name'],
            'danceability': track_features['danceability'],
            'energy': track_features['energy'],
            'key': track_features['key'],
            'loudness': track_features['loudness'],
            'mode': track_features['mode'],
            'speechiness': track_features['speechiness'],
            'acousticness': track_features['acousticness'],
            'instrumentalness': track_features['instrumentalness'],
            'liveness': track_features['liveness'],
            'valence': track_features['valence'],
            'tempo': track_features['tempo'],
            'time_signature': track_features['time_signature'],
        }
        df = df.append(y, ignore_index=True)

In [1]:
# importing pandas package 
import pandas as pd 
  
# making data frame from csv file 
data = pd.read_csv("employees.csv") 
  
# sorting by first name 
data.sort_values("First Name", inplace = True) 

data

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
101,Aaron,Male,2/17/2012,10:20 AM,61602,11.849,True,Marketing
327,Aaron,Male,1/29/1994,6:48 PM,58755,5.097,True,Marketing
440,Aaron,Male,7/22/1990,2:53 PM,52119,11.343,True,Client Services
937,Aaron,NaN,1/22/1986,7:39 PM,63126,18.424,False,Client Services
137,Adam,Male,5/21/2011,1:45 AM,95327,15.120,False,Distribution
141,Adam,Male,12/24/1990,8:57 PM,110194,14.727,True,Product
302,Adam,Male,7/5/2007,11:59 AM,71276,5.027,True,Human Resources
538,Adam,Male,10/8/2010,9:53 PM,45181,3.491,False,Human Resources
300,Alan,Male,6/26/1988,3:54 AM,111786,3.592,True,Engineering
53,Alan,NaN,3/3/2014,1:28 PM,40341,17.578,True,Finance
610,Alan,Male,2/17/2012,12:26 AM,41453,10.084,False,Product
372,Albert,Male,2/1/1997,4:20 PM,67827,19.717,True,Engineering
458,Albert,Male,9/30/2007,5:34 PM,102626,15.843,False,Finance
477,Albert,Male,8/14/2008,5:43 PM,137840,9.705,False,Business Development
680,Albert,Male,6/17/1992,3:25 AM,86818,14.301,True,Engineering
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales
959,Albert,Male,9/19/1992,2:35 AM,45094,5.850,True,Business Development
988,Alice,Female,10/5/2004,9:34 AM,47638,11.209,False,Human Resources
970,Alice,Female,9/3/1988,8:54 PM,63571,15.397,True,Product
765,Alice,NaN,4/23/1995,6:35 AM,148339,11.479,True,Finance
425,Alice,Female,5/2/1986,1:50 AM,51395,2.378,True,Finance
905,Alice,Female,2/9/2013,12:49 AM,121250,4.363,True,Finance
684,Alice,Female,1/21/2016,5:07 PM,117787,10.485,False,NaN
935,Alice,Female,3/23/1996,3:09 AM,131952,12.090,False,Engineering
693,Alice,Female,10/16/1995,9:19 PM,92799,2.782,False,Sales
639,Amanda,NaN,8/11/1991,2:15 PM,46665,19.391,True,Client Services
642,Amanda,NaN,3/16/2010,9:17 AM,135118,15.108,False,Finance
578,Amanda,Female,3/17/1982,11:46 PM,107111,1.438,True,Product
553,Amanda,Female,6/7/2002,7:46 AM,109290,13.853,False,Engineering
542,Amanda,Female,8/1/2004,1:32 PM,80803,14.077,True,Distribution
...,...,...,...,...,...,...,...,...
567,NaN,Female,4/1/1980,8:04 PM,48141,12.605,NaN,NaN
574,NaN,Female,1/13/2009,1:01 PM,118736,7.421,NaN,Client Services
599,NaN,Female,10/11/1990,10:57 PM,98385,10.925,NaN,Human Resources
607,NaN,Male,10/13/1983,11:59 PM,139754,12.740,NaN,Sales
608,NaN,Female,10/24/1993,5:17 PM,116236,17.274,NaN,Engineering
626,NaN,Female,4/13/1997,8:03 AM,131755,2.930,NaN,NaN
628,NaN,NaN,9/2/1988,12:49 PM,147309,1.702,NaN,Distribution
674,NaN,Male,8/28/2012,7:56 PM,88733,1.932,NaN,Human Resources
685,NaN,Male,10/20/1989,9:37 AM,88086,19.387,NaN,Finance
687,NaN,Male,12/27/1996,7:07 AM,139959,8.992,NaN,Distribution
697,NaN,Male,5/23/1990,2:09 AM,136655,9.801,NaN,Distribution
709,NaN,Male,4/7/1995,4:32 AM,60411,12.048,NaN,Human Resources
733,NaN,Male,6/17/2009,1:00 PM,136681,3.655,NaN,Business Development
734,NaN,Female,12/18/1994,8:42 PM,138807,1.400,NaN,Human Resources
773,NaN,Male,10/24/1986,9:23 AM,47176,10.736,NaN,Finance
774,NaN,Female,6/18/2000,7:36 AM,106428,10.867,NaN,NaN
782,NaN,Male,5/6/1986,4:41 PM,74104,17.680,NaN,Client Services
783,NaN,NaN,4/15/1991,3:39 AM,132505,13.592,NaN,Product
785,NaN,Female,7/24/1982,12:00 AM,57811,8.941,NaN,Marketing
812,NaN,Male,12/13/1994,10:34 AM,141311,5.478,NaN,Product
821,NaN,Female,12/27/1980,2:27 AM,80399,12.254,NaN,Distribution
823,NaN,Male,11/12/2009,2:30 PM,109411,9.494,NaN,Engineering
826,NaN,NaN,8/1/1988,1:35 AM,87103,5.665,NaN,NaN
877,NaN,Male,9/5/1980,7:36 AM,114896,13.823,NaN,Client Services
890,NaN,Male,11/24/2015,3:11 AM,145329,7.100,NaN,Finance
902,NaN,Male,5/23/2001,7:52 PM,103877,6.322,NaN,Distribution
925,NaN,Female,8/23/2000,4:19 PM,95866,19.388,NaN,Sales
946,NaN,Female,9/15/1985,1:50 AM,133472,16.941,NaN,Distribution
947,NaN,Male,7/30/2012,3:07 PM,107351,5.329,NaN,Marketing
951,NaN,Female,9/14/2010,5:19 AM,143638,9.662,NaN,NaN

In [6]:
# dropping ALL duplicte values 
data.drop_duplicates(subset =["First Name", "Gender"],
                     keep = 'first', inplace = True) 
  
# displaying data 
data

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
101,Aaron,Male,2/17/2012,10:20 AM,61602,11.849,True,Marketing
937,Aaron,NaN,1/22/1986,7:39 PM,63126,18.424,False,Client Services
137,Adam,Male,5/21/2011,1:45 AM,95327,15.120,False,Distribution
300,Alan,Male,6/26/1988,3:54 AM,111786,3.592,True,Engineering
53,Alan,NaN,3/3/2014,1:28 PM,40341,17.578,True,Finance
372,Albert,Male,2/1/1997,4:20 PM,67827,19.717,True,Engineering
988,Alice,Female,10/5/2004,9:34 AM,47638,11.209,False,Human Resources
765,Alice,NaN,4/23/1995,6:35 AM,148339,11.479,True,Finance
639,Amanda,NaN,8/11/1991,2:15 PM,46665,19.391,True,Client Services
578,Amanda,Female,3/17/1982,11:46 PM,107111,1.438,True,Product
879,Amy,Female,5/20/2009,6:26 AM,75415,19.132,False,Client Services
514,Amy,NaN,12/25/1984,10:52 AM,63888,18.115,True,Product
430,Andrea,Female,10/1/2010,11:54 AM,79123,19.422,False,Distribution
564,Andrew,Male,3/29/1985,6:57 PM,43414,7.563,True,Client Services
8,Angela,Female,11/22/2005,6:29 AM,95570,18.523,True,Engineering
509,Ann,Female,11/4/1984,12:17 PM,90719,6.220,False,Business Development
645,Anna,NaN,3/13/1985,9:19 AM,45418,10.162,False,Marketing
543,Anna,Female,4/15/2008,2:34 PM,117293,2.366,False,Client Services
262,Anne,Female,7/16/1986,2:08 PM,69134,3.723,True,Engineering
792,Anne,NaN,4/18/1996,11:57 PM,122762,9.564,False,Distribution
87,Annie,Female,1/30/1993,2:05 AM,144887,8.276,True,Sales
86,Annie,NaN,9/29/2007,12:11 AM,103495,17.290,True,Business Development
886,Anthony,Male,1/30/2014,9:04 PM,96795,14.837,False,Sales
129,Antonio,Male,10/25/1988,1:50 PM,60866,13.101,True,Business Development
961,Antonio,NaN,6/18/1989,9:37 PM,103050,3.050,False,Legal
556,Arthur,Male,12/16/2014,4:56 PM,66819,6.639,True,Marketing
138,Ashley,Female,5/25/2006,11:30 AM,112238,6.030,True,Engineering
735,Barbara,Female,11/26/2002,5:32 AM,82884,6.837,True,Business Development
192,Barbara,NaN,5/3/2003,7:32 PM,99326,16.475,True,Legal
757,Benjamin,Male,4/12/1988,11:32 PM,123409,7.783,False,Product
...,...,...,...,...,...,...,...,...
525,Steve,Male,8/22/1995,6:58 AM,67780,9.540,True,Human Resources
407,Steve,NaN,2/23/2002,3:55 AM,83159,9.550,True,Distribution
743,Steven,Male,5/30/1980,8:25 PM,100949,13.813,True,Human Resources
975,Susan,Female,4/7/1995,10:05 PM,92436,12.467,False,Sales
291,Tammy,Female,11/11/1984,10:30 AM,132839,17.463,True,Client Services
613,Teresa,NaN,1/3/1992,3:47 PM,63103,11.378,False,Finance
597,Teresa,Female,6/24/1987,7:37 PM,69740,8.294,False,Distribution
762,Terry,Male,11/10/2004,4:33 AM,35633,3.947,True,Distribution
876,Terry,NaN,9/11/1992,4:41 PM,41238,8.219,False,Marketing
795,Theresa,NaN,10/7/1995,10:16 AM,42025,3.319,True,Human Resources
35,Theresa,Female,10/10/2006,1:12 AM,85182,16.675,False,Sales
967,Thomas,Male,3/12/2016,3:10 PM,105681,19.572,False,Engineering
350,Thomas,NaN,8/31/1995,8:31 PM,41549,3.950,False,Sales
664,Timothy,Male,10/6/2010,10:49 PM,49473,12.463,False,Legal
113,Tina,Female,6/12/2009,7:16 AM,114767,3.711,True,Engineering
609,Todd,Male,2/16/2010,11:29 AM,103405,15.910,False,Sales
70,Todd,NaN,6/10/2003,2:26 PM,84692,6.617,False,Client Services
422,Victor,Male,9/24/2005,12:04 PM,123144,16.261,True,Product
153,Victor,NaN,3/10/2011,8:40 PM,84546,10.489,True,Finance
294,Virginia,Female,10/20/1999,6:23 AM,46905,19.154,False,Distribution
93,Virginia,NaN,5/7/1994,5:58 PM,111858,1.601,True,Legal
288,Walter,NaN,12/21/1999,10:33 PM,66757,18.099,False,Distribution
899,Walter,Male,5/21/1992,12:39 AM,144701,16.323,True,Marketing
433,Wanda,Female,7/20/2008,1:44 PM,65362,7.132,True,Legal
177,Wayne,Male,4/7/2012,8:00 AM,102652,14.085,True,Distribution
820,William,Male,11/18/1993,12:27 PM,54058,5.182,True,Human Resources
450,Willie,Male,8/22/2009,1:03 PM,55038,19.691,False,Legal
7,NaN,Female,7/20/2015,10:43 AM,45906,11.598,NaN,Finance
23,NaN,Male,6/14/2012,4:19 PM,125792,5.042,NaN,NaN
51,NaN,NaN,12/17/2011,8:29 AM,41126,14.009,NaN,Sales